html, body {
    height: 100%;
}


.container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    height: auto !important;
    width: 1200px;
    margin-top:0;
    margin-bottom:0 ;
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    
    background-color: aqua;
}

main {
    display: flex;
    background-color: lightblue;
    flex-grow: 1;
    flex-direction: row;
}
aside {
    width: 200px;
    background-color: lightcoral;
}

.logo {
    text-align: center;
}

.menu div {
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    margin: 10px;
}
a{
    text-decoration: black;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    
}
.flex-container {
    display: flex;
    background-color: lightblue;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px;
}
.flex-elem {
    display: flex;
    flex-direction: column;
    width:  300px;
    height: 400px;
    text-align: center;
    background-color: aqua;
    margin: 5px;
  
}
.text_card {
    display: flex;
    flex-grow: 1;
}
.button {
    width: 150px;
    margin-left: 25%;
    margin-bottom: 5px;
}
.email ,.address, .tel {
    text-align: center;
}
